node-red_custom_ext.json
[{"id":"eb3777df.96e768","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"9d28f251.7341b","type":"http in","z":"eb3777df.96e768","name":"/clova","url":"/clova","method":"post","upload":false,"swaggerDoc":"","x":70,"y":80,"wires":[["566b8e3b.859b9","56373de8.deb724"]]},{"id":"566b8e3b.859b9","type":"debug","z":"eb3777df.96e768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":80,"wires":[]},{"id":"e07a53c2.124a3","type":"function","z":"eb3777df.96e768","name":"LaunchRequest","func":"node.warn(\"LaunchRequest\");\nlet speech;\nspeech = {\n            lang: 'ja',\n            type: 'PlainText',\n            value: \"「サンプル占い」が起動されました。 \" + flow.get(\"TEMPLATE_INQUIRY\")\n          }\nmsg.responseSpeech = speech;\nreturn msg; ","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["3471faf9.37c386"]]},{"id":"aa752457.f2e1c8","type":"http response","z":"eb3777df.96e768","name":"http response","statusCode":"","headers":{},"x":560,"y":520,"wires":[]},{"id":"267dc5bf.4aac5a","type":"switch","z":"eb3777df.96e768","name":"CheckRequest","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":140,"y":260,"wires":[["e07a53c2.124a3"],["8629421c.5f6d3"],["541488d0.ee7518"],[]]},{"id":"8629421c.5f6d3","type":"function","z":"eb3777df.96e768","name":"IntentRequest","func":"node.warn(\"IntentRequest\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["358b37d5.d93308","a2bc652a.5a9ea8"]]},{"id":"541488d0.ee7518","type":"function","z":"eb3777df.96e768","name":"SessionEndedRequest","func":"node.warn(\"SessionEndedRequest\");\n//返さないと起動できないメッセージがでてしまうので\n//しゃべらないけどレスポンスは返す\nlet speech;\nspeech = {\n            lang: 'ja',\n            type: 'PlainText',\n            value: \"\"\n          };\nmsg.responseSpeech = speech;\nreturn msg; \n","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["3471faf9.37c386"]]},{"id":"56373de8.deb724","type":"function","z":"eb3777df.96e768","name":"set const value","func":"flow.set(\"TEMPLATE_INQUIRY\", \"星座を言うか、使い方、もしくは終了と呼びかけて下さい。\")\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":160,"wires":[["267dc5bf.4aac5a"]]},{"id":"3471faf9.37c386","type":"function","z":"eb3777df.96e768","name":"Set Response","func":"clovaResponse = {};\nclovaResponse.response = {};\nclovaResponse.response.card = null;\n\nclovaResponse.response.directives = []\nclovaResponse.response.outputSpeech = {}\nclovaResponse.response.outputSpeech.type = \"SimpleSpeech\";\nclovaResponse.response.outputSpeech.values = {}\nclovaResponse.response.outputSpeech.values = msg.responseSpeech;\n\nclovaResponse.response.reprompt = {}\nclovaResponse.response.reprompt.outputSpeech = {}\nclovaResponse.response.reprompt.outputSpeech = msg.responseSpeech;\n\nclovaResponse.response.shouldEndSession= false;\nclovaResponse.version = msg.payload.version;\nclovaResponse.sessionAttributes = null;\nmsg.payload = clovaResponse\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":520,"wires":[["aa752457.f2e1c8","a84f146f.47a368"]]},{"id":"a84f146f.47a368","type":"debug","z":"eb3777df.96e768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":460,"wires":[]},{"id":"358b37d5.d93308","type":"debug","z":"eb3777df.96e768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":60,"wires":[]},{"id":"a2bc652a.5a9ea8","type":"switch","z":"eb3777df.96e768","name":"CheckIntent","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"FortuneIntent","vt":"str"},{"t":"eq","v":"Clova.GuideIntent","vt":"str"},{"t":"eq","v":"Clova.YesIntent","vt":"str"},{"t":"eq","v":"Clova.NoIntent","vt":"str"},{"t":"eq","v":"Clova.CancelIntent","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":590,"y":240,"wires":[["45a34efb.365d7"],["df15e96c.3483b8"],["a2c81602.69e448"],["a2c81602.69e448"],["a2c81602.69e448"]]},{"id":"45a34efb.365d7","type":"function","z":"eb3777df.96e768","name":"FortuneIntent","func":"node.warn(\"FortuneIntent\");\nconst slots = msg.payload.request.intent.slots\nlet speech;\n// Slotに登録されていない星座はnullになる\nif(slots.zodiac_signs == null) {\n  speech = {\n    lang: 'ja',\n    type: 'PlainText',\n    value: `星座に誤りがあります。他の星座でお試し下さい。`\n  }\n  \n} else {\n    // 「中吉」だと「なかよし」発生されてしまう\n    const fortune = ['大吉', 'ちゅうきち', '小吉', '吉', '凶']\n    const zodiacSigns = ['牡羊座', '牡牛座', '双子座', '蟹座', '獅子座', '乙女座', '天秤座', '蠍座', '射手座', '山羊座', '水瓶座', '魚座']\n    // 日と星座を元に運勢を決定。日が変わると違う運勢に。\n    const fortuneToday = fortune[(new Date().getDate() + zodiacSigns.indexOf(slots.zodiac_signs.value)) % fortune.length]\n    speech = {\n      lang: 'ja',\n      type: 'PlainText',\n      value: `${slots.zodiac_signs.value}の今日の運勢は${fortuneToday}です。` + flow.get(\"TEMPLATE_INQUIRY\")\n    }\n}\nmsg.responseSpeech = speech;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":200,"wires":[["3471faf9.37c386"]]},{"id":"df15e96c.3483b8","type":"function","z":"eb3777df.96e768","name":"Clova.GuideIntent","func":"node.warn(\"Clova.GuideIntent\");\nlet speech;\nspeech = {\n          lang: 'ja',\n          type: 'PlainText',\n          value: flow.get(\"TEMPLATE_INQUIRY\")\n        }\nmsg.responseSpeech = speech;\nreturn msg; ","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["3471faf9.37c386"]]},{"id":"a2c81602.69e448","type":"function","z":"eb3777df.96e768","name":"Yes/No/Cancel Intent","func":"node.warn(\"Yes/No/Cancel Intent\");\nlet speech;\nspeech = {\n          lang: 'ja',\n          type: 'PlainText',\n          value: `意図しない入力です。` +  flow.get(\"TEMPLATE_INQUIRY\")\n        }\nmsg.responseSpeech = speech;\nreturn msg; ","outputs":1,"noerr":0,"x":800,"y":280,"wires":[["3471faf9.37c386"]]}]